In [44]:
import os

import FlowCytometryTools
from FlowCytometryTools import FCMeasurement
from pylab import *



datafile = 'Levine_32dim.fcs' 

# Load data

sample = FCMeasurement(ID='Test Plate', datafile=datafile)

# show() # <-- Uncomment when running as a script.

/Users/Max/anaconda3/envs/maxisses_env/lib/python3.6/site-packages/fcsparser/api.py:332: UserWarning: The default channel names (defined by the $PnS parameter in the FCS file) were not unique. To avoid problems in downstream analysis, the channel names have been switched to the alternate channel names defined in the FCS file. To avoid seeing this warning message, explicitly instruct the FCS parser to use the alternate channel names by specifying the channel_naming parameter.
  warnings.warn(msg)

In [45]:
print(sample.channel_names)

('Time', 'Cell_length', 'DNA1', 'DNA2', 'CD45RA', 'CD133', 'CD19', 'CD22', 'CD11b', 'CD4', 'CD8', 'CD34', 'Flt3', 'CD20', 'CXCR4', 'CD235ab', 'CD45', 'CD123', 'CD321', 'CD14', 'CD33', 'CD47', 'CD11c', 'CD7', 'CD15', 'CD16', 'CD44', 'CD38', 'CD13', 'CD3', 'CD61', 'CD117', 'CD49d', 'HLA-DR', 'CD64', 'CD41', 'Viability', 'file_number', 'event_number', 'label', 'individual')

In [46]:
type(sample.meta)

dict

In [47]:
tsample = sample.transform('hlog', channels=['DNA1', 'DNA2'])

In [48]:
data = sample.get_data()

In [49]:
data.columns

Index(['Time', 'Cell_length', 'DNA1', 'DNA2', 'CD45RA', 'CD133', 'CD19',
       'CD22', 'CD11b', 'CD4', 'CD8', 'CD34', 'Flt3', 'CD20', 'CXCR4',
       'CD235ab', 'CD45', 'CD123', 'CD321', 'CD14', 'CD33', 'CD47', 'CD11c',
       'CD7', 'CD15', 'CD16', 'CD44', 'CD38', 'CD13', 'CD3', 'CD61', 'CD117',
       'CD49d', 'HLA-DR', 'CD64', 'CD41', 'Viability', 'file_number',
       'event_number', 'label', 'individual'],
      dtype='object')

In [50]:
data["label"].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., nan])

In [51]:
data_nolabel = data[np.isnan(data["label"])]

In [52]:
data_label = data[~np.isnan(data["label"])]

In [53]:
data_nolabel["label"].unique()

array([nan])

In [54]:
data_nolabel.head()

,Time,Cell_length,DNA1,DNA2,CD45RA,CD133,CD19,CD22,CD11b,CD4,...,CD117,CD49d,HLA-DR,CD64,CD41,Viability,file_number,event_number,label,individual
104184,40.0,25.0,4.203073,4.837565,0.095543,-0.027206,0.172384,-0.001950,0.505713,-0.033282,...,-0.010093,0.387121,2.859639,2.709532,1.208795,0.102978,3.627711,1.0,NaN,1.0
104185,176.0,34.0,4.042991,4.808275,0.035310,-0.013869,-0.043922,-0.001871,0.180261,0.985183,...,0.346248,0.089940,-0.017702,0.045091,-0.022009,0.092770,3.627711,6.0,NaN,1.0
104186,189.0,37.0,4.233125,4.922201,0.415954,0.412757,0.431715,-0.025619,0.491190,0.485538,...,0.691393,2.996583,5.812406,1.713608,0.479122,1.888485,3.627711,7.0,NaN,1.0
104187,193.0,26.0,3.997143,4.685426,-0.038565,0.125894,0.191383,-0.026497,0.342190,1.284395,...,0.033096,-0.029722,-0.031126,-0.020739,-0.014693,0.067437,3.627711,8.0,NaN,1.0
104188,204.0,20.0,4.115829,4.893428,0.177246,0.171916,0.028568,-0.029751,2.480689,0.214722,...,-0.043689,0.027586,2.543139,3.323810,-0.002918,0.109243,3.627711,9.0,NaN,1.0

In [55]:
data_label.describe()

,Time,Cell_length,DNA1,DNA2,CD45RA,CD133,CD19,CD22,CD11b,CD4,...,CD117,CD49d,HLA-DR,CD64,CD41,Viability,file_number,event_number,label,individual
count,104184.0000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,...,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000,104184.000000
mean,276477.8125,34.430950,4.673839,5.257050,0.705236,0.139371,0.561903,0.429537,0.689466,0.392071,...,0.127399,0.768724,1.467057,0.520645,0.181691,0.538242,3.640382,169115.687500,8.116102,1.304471
std,172690.1875,11.356008,1.341444,1.174853,0.616459,0.249231,0.909153,0.802597,1.010013,0.534456,...,0.310050,0.616586,1.687762,0.900590,0.328471,0.581015,0.019151,124871.617188,2.457485,0.460185
min,1.0000,10.000000,2.787301,2.236450,-0.057305,-0.058081,-0.058089,-0.057342,-0.058236,-0.057751,...,-0.057668,-0.057787,-0.057974,-0.058199,-0.058244,-0.057979,3.627711,1.000000,1.000000,1.000000
25%,122816.5000,26.000000,3.710633,4.417986,0.214136,-0.023486,-0.018779,-0.020667,-0.002642,-0.011819,...,-0.024175,0.263547,0.026927,-0.014322,-0.021929,0.049108,3.627711,55587.250000,7.000000,1.000000
50%,256921.0000,33.000000,4.037146,4.711635,0.566988,0.018013,0.078124,0.060642,0.232712,0.148921,...,-0.000792,0.647915,0.432481,0.088476,0.032902,0.353554,3.627711,146980.500000,8.000000,1.000000
75%,430573.7500,41.000000,6.475279,6.832961,1.057468,0.215618,0.652665,0.414956,0.859286,0.634126,...,0.149053,1.159198,2.874149,0.448139,0.259613,0.879012,3.669327,281451.750000,10.000000,2.000000
max,708585.4375,65.000000,6.998210,7.472308,6.691197,3.472759,4.482081,4.970873,5.260789,6.560123,...,3.722932,5.153438,7.052507,4.517843,2.975583,2.433031,3.669327,400111.000000,14.000000,2.000000

In [56]:
data_label.columns

Index(['Time', 'Cell_length', 'DNA1', 'DNA2', 'CD45RA', 'CD133', 'CD19',
       'CD22', 'CD11b', 'CD4', 'CD8', 'CD34', 'Flt3', 'CD20', 'CXCR4',
       'CD235ab', 'CD45', 'CD123', 'CD321', 'CD14', 'CD33', 'CD47', 'CD11c',
       'CD7', 'CD15', 'CD16', 'CD44', 'CD38', 'CD13', 'CD3', 'CD61', 'CD117',
       'CD49d', 'HLA-DR', 'CD64', 'CD41', 'Viability', 'file_number',
       'event_number', 'label', 'individual'],
      dtype='object')

In [57]:
data_label.groupby(['label']).agg(['count'])

,Time,Cell_length,DNA1,DNA2,CD45RA,CD133,CD19,CD22,CD11b,CD4,...,CD61,CD117,CD49d,HLA-DR,CD64,CD41,Viability,file_number,event_number,individual
,count,count,count,count,count,count,count,count,count,count,...,count,count,count,count,count,count,count,count,count,count
label,,,,,,,,,,,,,,,,,,,,,
1.0,1207,1207,1207,1207,1207,1207,1207,1207,1207,1207,...,1207,1207,1207,1207,1207,1207,1207,1207,1207,1207
2.0,3905,3905,3905,3905,3905,3905,3905,3905,3905,3905,...,3905,3905,3905,3905,3905,3905,3905,3905,3905,3905
3.0,2248,2248,2248,2248,2248,2248,2248,2248,2248,2248,...,2248,2248,2248,2248,2248,2248,2248,2248,2248,2248
4.0,3295,3295,3295,3295,3295,3295,3295,3295,3295,3295,...,3295,3295,3295,3295,3295,3295,3295,3295,3295,3295
5.0,304,304,304,304,304,304,304,304,304,304,...,304,304,304,304,304,304,304,304,304,304
6.0,916,916,916,916,916,916,916,916,916,916,...,916,916,916,916,916,916,916,916,916,916
7.0,26366,26366,26366,26366,26366,26366,26366,26366,26366,26366,...,26366,26366,26366,26366,26366,26366,26366,26366,26366,26366
8.0,20108,20108,20108,20108,20108,20108,20108,20108,20108,20108,...,20108,20108,20108,20108,20108,20108,20108,20108,20108,20108
9.0,16520,16520,16520,16520,16520,16520,16520,16520,16520,16520,...,16520,16520,16520,16520,16520,16520,16520,16520,16520,16520
10.0,21099,21099,21099,21099,21099,21099,21099,21099,21099,21099,...,21099,21099,21099,21099,21099,21099,21099,21099,21099,21099
11.0,1238,1238,1238,1238,1238,1238,1238,1238,1238,1238,...,1238,1238,1238,1238,1238,1238,1238,1238,1238,1238
12.0,330,330,330,330,330,330,330,330,330,330,...,330,330,330,330,330,330,330,330,330,330
13.0,6135,6135,6135,6135,6135,6135,6135,6135,6135,6135,...,6135,6135,6135,6135,6135,6135,6135,6135,6135,6135
14.0,513,513,513,513,513,513,513,513,513,513,...,513,513,513,513,513,513,513,513,513,513

In [58]:
X = data_label[['Cell_length', 'DNA1', 'DNA2', 'CD45RA', 'CD133', 'CD19',
       'CD22', 'CD11b', 'CD4', 'CD8', 'CD34', 'Flt3', 'CD20', 'CXCR4',
       'CD235ab', 'CD45', 'CD123', 'CD321', 'CD14', 'CD33', 'CD47', 'CD11c',
       'CD7', 'CD15', 'CD16', 'CD44', 'CD38', 'CD13', 'CD3', 'CD61', 'CD117',
       'CD49d', 'HLA-DR', 'CD64', 'CD41']]
y = data_label['label']

In [59]:
data_label.corr()["label"].sort_values(ascending=False)

label           1.000000
HLA-DR          0.492008
CD19            0.403745
CD64            0.362429
CD11c           0.337001
CD38            0.282430
CD11b           0.254222
CD33            0.239835
CD20            0.213955
CD22            0.200137
CD13            0.195687
CD41            0.187400
CD49d           0.172392
CD14            0.170154
CXCR4           0.148705
CD44            0.105486
CD61            0.089280
CD321           0.058874
Cell_length     0.048118
Viability       0.031471
DNA2            0.030758
DNA1            0.028648
individual      0.019896
file_number     0.019896
CD45RA          0.006543
Flt3           -0.004128
CD123          -0.004536
Time           -0.015493
CD133          -0.015698
CD15           -0.019566
event_number   -0.026964
CD47           -0.040625
CD8            -0.074506
CD235ab        -0.103473
CD45           -0.119191
CD4            -0.172029
CD34           -0.199478
CD3            -0.249788
CD117          -0.260230
CD16           -0.285620
CD7            -0.550401
Name: label, dtype: float64

In [60]:
from sklearn.preprocessing import StandardScaler

In [61]:
X_norm = StandardScaler().fit_transform(X)

/Users/Max/anaconda3/envs/maxisses_env/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype float32 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/Max/anaconda3/envs/maxisses_env/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float32 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score

In [ ]:
cluster = len(list(set(y)))
cluster

14

In [ ]:
k_means = KMeans(init = "k-means++", n_clusters = cluster, n_init = 12)
k_means.fit(X_norm)
k_means_labels = k_means.labels_
accuracy_score(y,k_means_labels)

0.1331970360132074

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
db = DBSCAN(eps=10, min_samples=1).fit(X_norm)
dbscan_labels = db.labels_
len(set(db.labels_))

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

hyperparameters = {"criterion": ["entropy", "gini"],
                   "max_depth": [2,3,4,5,6,7,8,10,13,15],
                   "max_features": ["log2", "sqrt"],
                   "min_samples_leaf": [1,3, 10],
                   "n_estimators": [10, 30, 60]
}

clf = RandomForestClassifier()
grid = GridSearchCV(clf, param_grid=hyperparameters, cv=5, scoring=['accuracy', 'f1_macro', 'f1_micro'], refit="f1_macro")
grid.fit(X_train, y_train)
                   
best_params = grid.best_params_
best_score = grid.best_score_
best_model_RandomForest = grid.best_estimator_

best_score

In [ ]:
best_model_RandomForest

In [ ]:
grid.scorer_

In [ ]:
best_params

In [ ]:
predictions = best_model_RandomForest.predict(X_test)

In [ ]:
accuracy_score(y_test,predictions)